.product-page-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: rgba(51, 51, 51, 0.92);
    background-size: cover;
  }
  
  .product-image-container {
    width: 50%;
  }
  
  .product-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .product-info-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  
  .product-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #aaaaaa;
  }
  
  .product-price {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #ff7c00;
  }
  
  .product-price img {
    width: 50px; 
    margin-right: 10px;
  }
  
  .product-price span {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .product-purchase {
    display: flex;
    align-items: center;
  }
  
  .quantity-input {
    font-size: 1rem;
    padding: 5px;
    margin-right: 20px;
    width: 60px;
  }
  
  .buy-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ffa600;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buy-button:hover {
    background-color: #ff7c00;
  }

  
  .product-yield {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.product-yield img {
    width: 50px; 
    height: auto;
    margin-right: 10px;
}

.product-yield span {
  font-size: 20px;
}

.yield-low {
    color: #bfcc2e; 
}

.yield-medium {
    color: #f1c40f; 
}

.yield-high {
    color: #e67e22;
}

.yield-very-high {
    color: #e74c3c; 
}

.product-specs ul {
  list-style: disc; 
  padding: 0;
}

.product-specs li {
  position: relative;
  padding-left: 5px; 
  margin-bottom: 10px; 
  color: #ffca69; 
  font-size: 1rem; 
  line-height: 1; 
}
