.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(51, 51, 51, 0.92);
}

header {
  background-color: #222222;
  color: #fff;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 32px;
  font-weight: bold;
  margin-right: 20px; 
}

nav {
  display: flex;
  align-items: center; 
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0; 
  padding: 0; 
  align-items: center; 
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0; 
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  background: none; 
  border: none; 
  padding: 0; 
  cursor: pointer;
}
nav ul li a:hover {
  color: #ffa600;
}