<div *ngIf="authService.isLoggedIn()">
    <header>
        <div class="header-container">
          <div class="logo">
            <!-- Update the path to your assets folder -->
            <img src="/assets/images/logo.png" alt="Fallout Follies logo">
            <h1>Fallout Follies</h1>
          </div>
          <nav>
            <ul>
              <li><a routerLink="/main-page">Shop</a></li>
              <li><a routerLink="/about">About Us</a></li>
              <li><a routerLink="/cart">Cart</a></li>
              <li *ngIf="authService.isAdmin()"><a routerLink="/admins">Dashboard</a></li>
              <li><a><button (click)="onLogout()">Logout</button></a></li>
            </ul>
          </nav>
        </div>
    </header>
  </div>