@font-face {
    font-family: 'Overseer';
    src: url('/assets/font/monofonto rg.otf')
  }
  /* Body Styles */
  body {
    font-family: 'Overseer', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/assets/images/background.jpg");
    color: #fff;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  /* Container Styles */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.92);
  }
  
  /* Heading Styles */
  header {
    background-color: #222222;
    color: #fff;
    font-family: 'Overseer', sans-serif;
    padding: 20px 0;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    margin-right: 10px;
    margin-left: 15px;
  }
  
  .logo h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover{
      color: #ffa600;
  }
  
  .hero {
      margin-top: 20px;
    background-image: url("/assets/images/shop_bkg.jpg");
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    text-align: center;
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .hero h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #fff;
  }
  
  .hero p {
    font-size: 24px;
    margin-bottom: 30px;
    color: #fff;
    max-width: 600px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  /* Paragraph Styles */
  p {
    line-height: 1.5;
    margin: 10px 0;
  }
  
  /* Button Styles */
  button {
    background-color: #ffa600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
      font-family: 'Overseer', sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  button:hover {
    background-color: #ff7c00;
  }
  
  .shop_button
  {
    background-color: #ffa600;
    color: #fff;
    padding: 30px 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 3rem;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
      font-family: 'Overseer', sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  /* Why Choose Us Section */
  .why-choose-us {
    background-color: #222222;
    padding: 20px 0;
    text-align: center;
  }
  
  .why-choose-us h2 {
    font-size: 36px;
    margin-bottom: 60px;
  }
  
  .why-choose-us-grid {
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
  }
  
  .feature {
    background-color: #333333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .feature img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }
  
  .feature h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .feature p {
    font-size: 18px;
    color: #CF9B3B;
  }
  
  
  /* Reviews Section */
  .reviews {
    background-color: #222222;
    padding: 20px 0;
    text-align: center;
    margin-top: 15px;
  }
  
  .reviews h2 {
    font-size: 36px;
    margin-bottom: 60px;
  }
  
  .review-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .review {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    text-align: left;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .review img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  blockquote {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
  }
  
  cite {
    font-size: 16px;
    color: #777777;
  }
  
  /* Image Styles */
  img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  /* Best-Selling Bomb Styles */
  .best-selling {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  
  .bomb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    width: 70%;
    height: 250px;
    background-color: #222222;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .bomb img {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin-left: 15px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    margin: 0 20px;
  }
  
  .details h3 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .details p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #aaaaaa;
  }
  
  .yield {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .yield img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .yield span {
    font-size: 16px;
    font-weight: bold;
    color: #ff8c00;
    margin-left: 5px;
  }
  
  