<!-- main-page.component.html -->
<div class="container">
  <section class="product-section">
      <div class="product-grid">
          <div *ngFor="let product of products" class="product-card" [routerLink]="['/product', product.id]">
              <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image">
              <div class="product-details">
                  <h3>{{ product.name }}</h3>
                  <p>{{ product.description }}</p>
                  <span class="price">{{ product.price | currency }}</span>
                  <button (click)="addToCart(product); $event.stopPropagation()">Buy Now</button>
              </div>
          </div>
      </div>
  </section>
</div>

