/* Global styles.css */

@font-face {
  font-family: 'Overseer';
  src: url('/assets/font/monofonto rg.otf');
}

body {
  font-family: 'Overseer', sans-serif;
  background-image: url("/assets/images/background.jpg");
  background-color: #000; /* Fallback for when the image is not available */
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

div {
  font-family: 'Overseer', sans-serif;
}

button {
  background-color: #ffa600;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
    font-family: 'Overseer', sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

button:hover {
  background-color: #ff7c00;
}

.mat-snack-bar-container {
  background-color: #333; 
  color: #fff; 
}